.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 32px;
    background-color: aqua;
    top : 0;
}
.nav-links a {
    margin-right:20px;
}
.image div{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 20px 30px;
}